<% content_for :head do %>
  <% if @show_checkbox_recaptcha %>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <% else %>
    <script src="https://www.google.com/recaptcha/api.js?render=<%= Rails.application.credentials.dig(:recaptcha, :site_key_v3) %>"></script>
  <% end %>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title has-text-centered">
          <i class="fa-solid fa-right-to-bracket"></i> <%= t('sessions.new.title') %>
        </h1>

        <%= form_with url: login_path, local: true, data: {
          controller: "recaptcha",
          "recaptcha-site-key-value" => Rails.application.credentials.dig(:recaptcha, @show_checkbox_recaptcha ? :site_key_v2 : :site_key_v3),
          "recaptcha-action-value" => "login",
          "recaptcha-v2-value" => @show_checkbox_recaptcha
        } do |form| %>
          <div class="field">
            <%= form.label :login, t('sessions.new.login_label'), class: "label" %>
            <div class="control has-icons-left">
              <%= form.text_field :login, class: "input", placeholder: t('sessions.new.login_placeholder') %>
              <span class="icon is-small is-left">
                <i class="fa-solid fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <%= form.label :password, t('sessions.new.password_label'), class: "label" %>
            <div class="control has-icons-left">
              <%= form.password_field :password, class: "input", placeholder: t('sessions.new.password_placeholder') %>
              <span class="icon is-small is-left">
                <i class="fa-solid fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="columns is-centered">
            <div class="column is-narrow">
              <div class="field">
                <% if @show_checkbox_recaptcha %>
                  <%= recaptcha_tags(site_key: Rails.application.credentials.dig(:recaptcha, :site_key_v2)) %>
                <% else %>
                  <%= recaptcha_v3(action: 'login', site_key: Rails.application.credentials.dig(:recaptcha, :site_key_v3)) %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= button_tag type: 'submit', class: "button is-primary is-fullwidth", data: { turbo: false } do %>
                <span class="icon">
                  <i class="fa-solid fa-right-to-bracket"></i>
                </span>
                <span><%= t('sessions.new.submit') %></span>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="has-text-centered">
          <p class="is-size-6">
            <%= t('sessions.new.no_account') %>
            <%= link_to "<i class='fa-solid fa-user-plus'></i> #{t('sessions.new.register_here')}".html_safe, register_path, class: "has-text-link", data: { turbo: false } %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>