<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title has-text-centered">
          <i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión
        </h1>

        <%= form_with url: login_path, local: true, html: { class: "box", "data-turbo" => "false" } do |form| %>
          <div class="field">
            <%= form.label :login, 'Email o nombre de usuario', class: "label" %>
            <div class="control has-icons-left">
              <%= form.text_field :login, class: "input", placeholder: "ejemplo@email.com o tu_usuario" %>
              <span class="icon is-small is-left">
                <i class="fa-solid fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <%= form.label :password, 'Contraseña', class: "label" %>
            <div class="control has-icons-left">
              <%= form.password_field :password, class: "input", placeholder: "••••••••" %>
              <span class="icon is-small is-left">
                <i class="fa-solid fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="columns is-centered">
            <div class="column is-narrow">
              <div class="field">
                <% if @show_checkbox_recaptcha %>
                  <%= recaptcha_tags(site_key: Rails.application.credentials.dig(:recaptcha, :site_key_v2)) %>
                <% else %>
                  <%= recaptcha_v3(action: 'login', site_key: Rails.application.credentials.dig(:recaptcha, :site_key_v3)) %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= form.submit class: "button is-primary is-fullwidth" do %>
                <span class="icon">
                  <i class="fa-solid fa-right-to-bracket"></i>
                </span>
                <span>Iniciar sesión</span>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="has-text-centered">
          <p class="is-size-6">
            ¿No tienes cuenta?
            <%= link_to '<i class="fa-solid fa-user-plus"></i> Regístrate aquí'.html_safe, register_path, class: "has-text-link", data: { turbo: false } %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>