<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/assets/images/placeholders/128x128.png" />
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= comment.user.name %></strong><br>
        <small>
          <i class="fa-solid fa-clock"></i> <%= time_ago(comment) %>
          <% if comment.edited? %>
            · <i class="fa-solid fa-pen-to-square"></i> <%= edited_time_ago(comment) %>
          <% end %>

          <% unless comment.deleted_by_admin? %>
            <%= comment_edit_link(comment, post) %>
            <% if user_signed_in? %>
              · <%= link_to "<i class='fa-solid fa-reply'></i> Responder".html_safe, "#", onclick: "document.getElementById('reply-form-#{comment.id}').style.display='block'; return false;" %>
              · <%= link_to "<i class='fa-solid fa-flag'></i> Reportar".html_safe, new_comment_report_path(comment) %>
            <% end %>
          <% end %>

          <% if can?(:soft_delete, comment) && !comment.deleted_by_admin? %>
            · <%= link_to soft_delete_post_comment_path(post, comment), method: :patch, data: { confirm: "¿Estás seguro de eliminar este comentario?" }, class: "has-text-danger" do %>
              <i class="fa-solid fa-trash"></i> Eliminar (admin)
            <% end %>
          <% end %>
        </small>
        <br/>

        <% if comment.deleted_by_admin? %>
          <em class="has-text-grey">Comentario eliminado por administración</em>
        <% else %>
          <%= comment.content %>
        <% end %>
        <br/>
      </p>
    </div>

    <% unless comment.deleted_by_admin? %>
      <div class="mt-2">
        <% liked = comment_liked_by_user?(comment) %>

        <% if liked %>
          <%= button_to post_comment_comment_reaction_path(post, comment), method: :delete, class: "button is-small is-danger", disabled: !user_signed_in? do %>
            <i class="fa-solid fa-thumbs-down"></i> Quitar like (<%= comment.likes_count %>)
          <% end %>
        <% else %>
          <%= button_to post_comment_comment_reaction_path(post, comment), method: :post, class: "button is-small is-success", disabled: !user_signed_in? do %>
            <i class="fa-solid fa-thumbs-up"></i> Me gusta (<%= comment.likes_count %>)
          <% end %>
        <% end %>

        <% unless user_signed_in? %>
          <p class="is-size-7 has-text-grey mt-1">Inicia sesión para reaccionar.</p>
        <% end %>
        <br>
      </div>

      <% if user_signed_in? %>
        <div id="reply-form-<%= comment.id %>" style="display: <%= (@reply_with_errors && @reply_with_errors.parent_id == comment.id) ? 'block' : 'none' %>;">
          <%= form_with(model: [post, reply_form_object(comment)], url: reply_post_comment_path(post, comment), local: true) do |form| %>
            <div class="field">
              <%= form.label :content, class: "label" do %>
                <span class="icon-text">
                  <span class="icon"><i class="fa-solid fa-reply"></i></span>
                  <span>Respuesta</span>
                </span>
              <% end %>
              <div class="control">
                <%= form.text_area :content, class: "textarea #{(form.object.errors[:content].any?) ? 'is-danger' : ''}", placeholder: "Agregar una respuesta..." %>
              </div>
              <small class="help is-danger"><%= form.object.errors[:content].join(', ') %></small>
            </div>
            <div class="field">
              <p class="control">
                <%= button_tag type: 'submit', class: "button is-info" do %>
                  <i class="fa-solid fa-paper-plane"></i> Publicar respuesta
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
        <br>
      <% end %>
    <% end %>

    <% comment.replies.order(created_at: :desc).each do |reply| %>
      <%= render partial: "comments/comment", locals: { comment: reply, post: post } %>
    <% end %>
  </div>
</article>
