<article class="media is-reply" data-controller="reply">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/assets/images/placeholders/128x128.png" />
    </p>
  </figure>

  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= comment.user.name %></strong><br>
        <small>
          <i class="fa-solid fa-clock"></i> <%= time_ago(comment) %>
          <% if comment.edited? %>
            · <i class="fa-solid fa-pen-to-square"></i> <%= edited_time_ago(comment) %>
          <% end %>

          <% unless comment.deleted_by_admin? %>
            <%= comment_edit_link(comment, post) %>
            <% if user_signed_in? && comment.parent_id.present? %>
              · <%= link_to "<i class='fa-solid fa-reply'></i> Responder".html_safe, "#",
                data: { controller: "reply", action: "click->reply#open", reply_parent_id_param: comment.parent_id, reply_mention_param: "@#{comment.user.username}" } %>
            <% end %>
            <% if user_signed_in? %>
              · <%= link_to "<i class='fa-solid fa-flag'></i> Reportar".html_safe, new_comment_report_path(comment) %>
            <% end %>
          <% end %>

          <% if can?(:admin_destroy_comment, comment) && !comment.deleted_by_admin? %>
            · <%= link_to admin_destroy_comment_post_comment_path(post, comment), method: :patch, data: { confirm: "¿Estás seguro de eliminar este comentario?" }, class: "has-text-danger" do %>
              <i class="fa-solid fa-trash"></i> Eliminar (admin)
            <% end %>
          <% end %>
        </small>
        <br/>

        <% if comment.deleted_by_admin? %>
          <em class="has-text-grey">Comentario eliminado por administración</em>
        <% else %>
          <%= markdown(comment.display_content) %>
        <% end %>
        <br/>
      </p>
    </div>

    <% unless comment.deleted_by_admin? %>
      <div class="mt-2">
        <% liked = comment_liked_by_user?(comment) %>

        <% if liked %>
          <%= button_to post_comment_comment_reaction_path(post, comment), method: :delete, class: "button is-small is-danger", disabled: !user_signed_in? do %>
            <i class="fa-solid fa-thumbs-down"></i> Quitar like (<%= comment.likes_count %>)
          <% end %>
        <% else %>
          <%= button_to post_comment_comment_reaction_path(post, comment), method: :post, class: "button is-small is-success", disabled: !user_signed_in? do %>
            <i class="fa-solid fa-thumbs-up"></i> Me gusta (<%= comment.likes_count %>)
          <% end %>
        <% end %>
        <br>
      </div>
    <% end %>
  </div>
</article>
