<section class="section">
  <div class="container">
    <h1 class="title is-2">Post: <%= @post.title %></h1>
    <br>
    <h1 class="title is-4">Editar Comentario</h1>

    <%= form_with(model: [ @post, @comment ], local: true) do |form| %>
      <div class="field">
        <%= form.label :content, "Contenido", class: "label" %>
        <p class="help">
          Puedes usar <strong>Markdown</strong> para dar formato al texto. 
          <%= link_to "Ver guía de sintaxis", "https://www.markdownguide.org/basic-syntax/", target: "_blank", rel: "noopener", class: "has-text-info" %>
        </p>
        <div class="control">
          <%= form.text_area :content, class: "textarea", rows: 3 %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= button_tag type: 'submit', class: "button is-primary" do %>
            <i class="fa-solid fa-check"></i> Actualizar comentario
          <% end %>

          <%= link_to post_path(@post), class: "button" do %>
            <i class="fa-solid fa-arrow-left"></i> Volver al Post
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
