<div class="table-container">
  <table class="table is-fullwidth is-striped is-hoverable">
    <thead>
      <tr>
        <th><%= t('admin.logs.headers.datetime') %></th>
        <th><%= t('admin.logs.headers.user') %></th>
        <th><%= t('admin.logs.headers.action') %></th>
        <th><%= t('admin.logs.headers.description') %></th>
      </tr>
    </thead>
    <tbody>
      <% @logs.each do |log| %>
        <tr>
          <td><%= l(log.created_at, format: :default) %></td>
          <td><%= log.user&.username || t('admin.logs.unknown_user') %></td>
          <td><%= log.action %></td>
          <td><%= log.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container">
  <%= paginate @logs %>
</div>
