<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">
          <i class="fa-solid fa-user-plus"></i> Registrar nuevo usuario
        </h1>

        <%= form_with(model: @user, local: true, html: { "data-turbo" => "false" }) do |form| %>

          <% [:name, :username, :email, :password, :password_confirmation].each do |field| %>
            <div class="field">
              <%= form.label field, @user.class.human_attribute_name(field), class: "label" %>
              <div class="control has-icons-left">
                <% input_type = field.to_s.include?("password") ? :password_field : (field == :email ? :email_field : :text_field) %>
                <%= form.send(input_type, field, class: "input #{'is-danger' if @user.errors[field].any?}", placeholder: "Tu #{field.to_s.humanize.downcase}") %>
                <span class="icon is-small is-left">
                  <% icon = case field
                    when :name then "fa-solid fa-user"
                    when :username then "fa-solid fa-user-tag"
                    when :email then "fa-solid fa-envelope"
                    else "fa-solid fa-lock"
                  end %>
                  <i class="<%= icon %>"></i>
                </span>
              </div>
              <% if @user.errors[field].any? %>
                <small class="help is-danger"><%= @user.errors[field].join(", ") %></small>
              <% end %>
            </div>
          <% end %>

          <div class="columns is-centered">
            <div class="column is-narrow">
              <div class="field">
                <% if @show_checkbox_recaptcha %>
                  <%= recaptcha_tags(site_key: Rails.application.credentials.dig(:recaptcha, :site_key_v2)) %>
                <% else %>
                  <%= recaptcha_v3(action: 'registration', site_key: Rails.application.credentials.dig(:recaptcha, :site_key_v3)) %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= button_tag type: 'submit', class: "button is-primary is-fullwidth" do %>
                <span class="icon"><i class="fa-solid fa-user-plus"></i></span>
                <span>Registrarse</span>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="has-text-centered mt-4">
          <%= link_to login_path, class: "has-text-link", data: { turbo: false } do %>
            <i class="fa-solid fa-right-to-bracket"></i> ¿Ya tienes cuenta? Inicia sesión
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>