<%= form_with(model: post, html: { class: "box" }) do |form| %>
  <div class="field">
    <%= form.label :title, class: "label" do %>
      <span class="icon-text">
        <span class="icon">
          <i class="fa-solid fa-heading"></i>
        </span>
        <span>Título</span>
      </span>
    <% end %>
    <div class="control has-icons-left">
      <% if post.persisted? %>
        <%= form.text_field :title, class: "input", disabled: true %>
        <%= form.hidden_field :title %>
      <% else %>
        <%= form.text_field :title, class: "input #{'is-danger' if post.errors[:title].any?}", placeholder: "Título del post (mínimo 5 caracteres)" %>
      <% end %>
      <span class="icon is-small is-left">
        <i class="fa-solid fa-pen"></i>
      </span>
    </div>
    <small class="help is-danger"><%= post.errors[:title].join(', ') %></small>
  </div>

  <div class="field">
    <%= form.label :content, class: "label" do %>
      <span class="icon-text">
        <span class="icon">
          <i class="fa-solid fa-align-left"></i>
        </span>
        <span>Contenido</span>
      </span>
    <% end %>
    <div class="control">
      <%= form.text_area :content, rows: 10, class: "textarea #{'is-danger' if post.errors[:content].any?}", placeholder: "Escribe el contenido detallado del post..." %>
    </div>
    <small class="help is-danger"><%= post.errors[:content].join(', ') %></small>
  </div>

  <div class="field">
    <%= form.label :category, class: "label" do %>
      <span class="icon-text">
        <span class="icon">
          <i class="fa-solid fa-tags"></i>
        </span>
        <span>Categoría</span>
      </span>
    <% end %>
    <div class="select">
      <% if post.persisted? %>
        <%= form.select :category, Post::CATEGORIES.sort, {}, disabled: true, class: "select" %>
        <%= form.hidden_field :category %>
      <% else %>
        <%= form.select :category, Post::CATEGORIES.sort, { prompt: "Selecciona una categoría" }, class: "select #{'is-danger' if post.errors[:category].any?}" %>
      <% end %>
    </div>
    <small class="help is-danger"><%= post.errors[:category].join(', ') %></small>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= button_tag type: 'submit', class: "button is-primary" do %>
        <span class="icon">
          <i class="fa-solid fa-save"></i>
        </span>
        <span>
          <%= post.persisted? ? "Actualizar publicación" : "Crear publicación" %>
        </span>
      <% end %>
    </div>
    <% cancel_path = post.persisted? ? post_path(post) : posts_path %>
    <div class="control">
      <%= link_to cancel_path, class: "button" do %>
        <span class="icon">
          <i class="fa-solid fa-times"></i>
        </span>
        <span>Cancelar</span>
      <% end %>
    </div>
  </div>
<% end %>