<%= form_with(model: post, html: { class: "box" }) do |form| %>
  <div class="field">
    <%= form.label :title, class: "label" do %>
      <span class="icon-text">
        <span class="icon">
          <i class="fa-solid fa-heading"></i>
        </span>
        <span>Título</span>
      </span>
    <% end %>
    <div class="control has-icons-left">
      <%= form.text_field :title, class: "input #{'is-danger' if post.errors[:title].any?}", placeholder: "Título del post (mínimo 5 caracteres)" %>
      <span class="icon is-small is-left">
        <i class="fa-solid fa-pen"></i>
      </span>
    </div>
    <small class="help is-danger"><%= post.errors[:title].join(', ') %></small>
  </div>

  <div class="field">
    <%= form.label :content, class: "label" do %>
      <span class="icon-text">
        <span class="icon">
          <i class="fa-solid fa-align-left"></i>
        </span>
        <span>Contenido</span>
      </span>
    <% end %>
    <div class="control">
      <%= form.text_area :content, rows: 10, class: "textarea #{'is-danger' if post.errors[:content].any?}", placeholder: "Escribe el contenido detallado del post..." %>
    </div>
    <small class="help is-danger"><%= post.errors[:content].join(', ') %></small>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit "Guardar Post", class: "button is-primary" do %>
        <span class="icon">
          <i class="fa-solid fa-save"></i>
        </span>
        <span>Guardar</span>
      <% end %>
    </div>
    <% cancel_path = post&.persisted? ? post_path(post) : posts_path %>
    <div class="control">
      <%= link_to cancel_path, class: "button is-light" do %>
        <span class="icon">
          <i class="fa-solid fa-times"></i>
        </span>
        <span>Cancelar</span>
      <% end %>
    </div>
  </div>
<% end %>