<section class="section">
  <div class="container">
    <div class="content">
      <h1 class="title is-2"><%= @post.title %></h1>
      <br>
      <div class="columns">
        <div class="column">
          <div class="icon-text">
            <% if @post.user.avatar.attached? %>
              <figure class="image is-32x32 mr-2">
                <%= image_tag @post.user.avatar.variant(resize_to_fill: [32, 32]), class: "is-rounded" %>
              </figure>
            <% else %>
              <span class="icon is-small mr-2">
                <i class="fa-solid fa-user-circle"></i>
              </span>
            <% end %>
            <span><%= t('posts.show.published_by_html', user: "<strong>#{name_and_username(@post.user)}</strong>".html_safe) %></span>
          </div>
        </div>

        <div class="column">
          <div class="icon-text">
            <span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
            <span><%= post_published_time(@post) %></span>
          </div>
        </div>
        <% if @post.updated_at > @post.created_at %>
          <div class="column">
            <span class="icon"><i class="fa-solid fa-pen-to-square"></i></span>
            <span><%= post_edited_time(@post) %></span>
          </div>
        <% end %>

        <div class="column">
          <div class="icon-text">
            <span class="icon"><i class="fa-solid fa-tag"></i></span>
            <span><%= @post.category_name %></span>
          </div>
        </div>
        <div class="column">
          <div class="icon-text">
            <span class="icon"><i class="fa-solid fa-eye"></i></span>
            <span><strong><%= @post.visits || 0 %></strong> <%= t('posts.show.visits') %></span>
          </div>
        </div>
      </div>

      <div class="buttons are-small">
        <% if can_edit_post?(@post) %>
          <%= link_to edit_post_path(@post), class: "button is-warning" do %>
            <span class="icon"><i class="fa-solid fa-pen-to-square"></i></span>
            <span><%= t('posts.show.edit') %></span>
          <% end %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to new_post_report_path(@post), class: "button is-danger" do %>
            <span class="icon"><i class="fa-solid fa-flag"></i></span>
            <span><%= t('posts.show.report') %></span>
          <% end %>
        <% end %>

        <% if can? :admin_destroy_post, @post and !@post.deleted_by_admin? %>
          <%= button_to admin_destroy_post_post_path(@post), method: :patch,
              data: { confirm: t('posts.show.admin_delete_confirm') },
              class: "button is-danger" do %>
            <span class="icon"><i class="fa-solid fa-ban"></i></span>
            <span><%= t('posts.show.admin_delete') %></span>
          <% end %>
        <% end %>
      </div>

      <hr>
      <div class="box">
        <% if @post.image.attached? %>
          <div class="box has-text-centered">
            <%= image_tag @post.image.variant(resize_to_limit: [800, 400]), class: "image is-inline-block" %>
          </div>
        <% end %>

        <div class="content post-content">
          <%= markdown(@post.content) %>
        </div>
      </div>

      <div class="comments mt-5">
        <h2 class="subtitle is-4"><i class="fa-solid fa-comments"></i> <%= t('posts.show.comments_count', count: @post.comments.count) %></h2>

        <% if @comments.any? %>
          <% @comments.each do |comment| %>
            <%= render partial: "comments/comment", locals: { comment: comment, post: @post } %>
          <% end %>
        <% else %>
          <p><i class="fa-solid fa-circle-info"></i> <%= t('posts.show.no_comments_yet') %></p>
        <% end %>

        <% if user_signed_in? %>
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <% if current_user.avatar.attached? %>
                  <%= image_tag current_user.avatar.variant(resize_to_limit: [128, 128]), class: "is-rounded" %>
                <% else %>
                  <%= image_tag "user.jpeg", class: "is-rounded", alt: t('posts.show.default_avatar_alt') %>
                <% end %>
              </p>
            </figure>
            <div class="media-content">
              <%= form_with(model: [ @post, (@comment || @post.comments.build) ], local: true) do |form| %>
                <div class="field">
                  <%= form.label :content, class: "label" do %>
                    <span class="icon-text">
                      <span class="icon"><i class="fa-solid fa-comment"></i></span>
                      <span><%= t('posts.show.comment') %></span>
                    </span>
                    <p class="help">
                      <%= t('posts.show.markdown_help_html', link: link_to(t('posts.show.markdown_guide'), "https://www.markdownguide.org/basic-syntax/", target: "_blank", rel: "noopener", class: "has-text-info")) %>
                    </p>
                  <% end %>
                  <div class="control">
                    <%= form.text_area :content, class: "textarea #{(@comment && @comment.errors[:content].any?) ? 'is-danger' : ''}", placeholder: t('posts.show.comment_placeholder') %>
                  </div>
                  <small class="help is-danger"><%= (@comment && @comment.errors[:content].join(', ')) %></small>
                </div>
                <div class="field">
                  <p class="control">
                    <%= button_tag type: 'submit', class: "button is-info" do %>
                      <i class="fa-solid fa-paper-plane"></i> <%= t('posts.show.publish_comment') %>
                    <% end %>
                  </p>
                </div>
              <% end %>
            </div>
          </article>
        <% else %>
          <p><%= link_to("<i class='fa-solid fa-right-to-bracket'></i> ".html_safe + t('posts.show.login_to_comment'), login_path, data: { turbo: false }) %></p>
        <% end %>
      </div>
    </div>
  </div>
</section>