<section class="section">
  <div class="container">
    <h1 class="title is-4">Reportes de usuarios</h1>

    <div class="table-container">
      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Razón</th>
            <th>Contenido</th>
            <th>Tipo</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <% @reports.each do |report| %>
            <tr>
              <td><%= report.user.username %></td>
              <td><%= report.reason %></td>
              <td>
                <% if report.reportable_type == "Post" %>
                  <%= link_to truncate(report.reportable.title, length: 30), post_path(report.reportable), class: "has-text-link" %>
                <% elsif report.reportable_type == "Comment" %>
                  <%= link_to truncate(report.reportable.content, length: 50), post_path(report.reportable.post), class: "has-text-link" %>
                <% end %>
              </td>
              <td>
              <% if report.reportable_type == "Comment" %>
                Comentario
              <% elsif report.reportable_type == "Post" %>
                Post
              <% else %>
                <%= report.reportable_type %>
              <% end %>
            </td>
              <td><%= l(report.created_at, format: :short) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="container">
      <%= paginate @reports %>
    </div>
  </div>
</section>
