<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation" data-controller="navbar">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "Quid Pro Quo FORUM", root_path, class: "navbar-item" %>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-navbar-target="burger"
        data-action="click->navbar#toggle"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" data-navbar-target="menu">
      <div class="navbar-start">
        <%= link_to "Posts", posts_path, class: "navbar-item" %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Categorías
          </a>

          <div class="navbar-dropdown">
            <% Post::CATEGORIES.sort.each do |category| %>
              <%= link_to category, category_posts_path(category_id: category), class: "navbar-item" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <a class="navbar-item" data-controller="theme" data-action="click->theme#toggle">
          <i data-theme-target="icon" class="fas fa-moon"></i>
        </a>
        <% if user_signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <%= current_user.username %>
            </a>

            <div class="navbar-dropdown">
              <%= link_to "Mi perfil", profile_path, class: "navbar-item" %>
              <hr class="navbar-divider">
              <%= link_to "Cerrar sesión", logout_path, method: :delete, class: "navbar-item" %>
            </div>
          </div>
        <% else %>
          <%= link_to "Iniciar sesión", login_path, class: "navbar-item", data: { turbo: false } %>
          <%= link_to "Registrarse", register_path, class: "navbar-item", data: { turbo: false } %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
