<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "Quid Pro Quo FORUM", root_path, class: "navbar-item" %>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Posts", posts_path, class: "navbar-item" %>
      </div>

      <div class="navbar-end">
        <a class="navbar-item" data-controller="theme" data-action="click->theme#toggle">
          <i data-theme-target="icon" class="fas fa-moon"></i>
        </a>
        <% if user_signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <%= current_user.username %>
            </a>

            <div class="navbar-dropdown">
              <%= link_to "Cerrar sesión", logout_path, method: :delete, class: "navbar-item" %>
            </div>
          </div>
        <% else %>
          <%= link_to "Iniciar sesión", login_path, class: "navbar-item" %>
          <%= link_to "Registrarse", register_path, class: "navbar-item" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"), 0);

    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener("click", function () {
          const $menu = $el.closest(".navbar").querySelector(".navbar-menu");

          $el.classList.toggle("is-active");
          $menu.classList.toggle("is-active");
        });
      });
    }
  });
</script>
